.articles {
  .articles-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    .row {
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;
    }
  }
}